{% extends "base.html" %}

{% block content %}
<div class="content-main">
    <div class="container">
        <h1>Roll some dice!</h1>
        <form class="form-inline" method="post">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="# of dice" name="nodice" value="{{nodice}}">
                    <div class="input-group-addon">D</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="# of sides" name="nosides" value="{{nosides}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Roll!</button>
        </form>

        {% if summary %}
            <br>
            <h2>Rolls!</h2>
            <ul>
                {% for roll in summary['rolls'] %}
                    <li>{{roll}}</li>
                {% endfor %}
            </ul>

        You rolled {{summary['sum']}} out of {{summary['potential']}}!
        <br>
        {{summary['percent']}}%
        {% endif %}
    </div>
</div>

{% endblock %}