{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>/ascii/</h1>
    </div>
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" name="title" value="{{title}}" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="art">Art</label>
                <textarea class="form-control" name="art" placeholder="Paste ASCII art here" rows="6">{{art}}</textarea>
            </div>
            <div class="error">{{error}}</div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>


                    {% if img_url %}
                    <img src="{{img_url}}" />
                    {% endif %}



        <hr>
        {% for art in arts %}
        <div class="art">
            <div class="art-title">{{art.title}}</div><br />
            <pre class="art-body">{{art.art}}</pre>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}